<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Relay</title>
</head>
<body>
    <h1>Control de Relay</h1>
    <form action="/send_command" method="post">
        <button type="submit" name="command" value="open">Encender</button>
        <button type="submit" name="command" value="close">Apagar</button>
        <button type="submit" name="command" value="exit">Salir</button>
        <br>
        <h2>Control Individual de Relays</h2>
        <button type="submit" name="command" value="relay1_on">Relay 1 Encender</button>
        <button type="submit" name="command" value="relay1_off">Relay 1 Apagar</button>
        <br>
        <button type="submit" name="command" value="relay2_on">Relay 2 Encender</button>
        <button type="submit" name="command" value="relay2_off">Relay 2 Apagar</button>
        <br>
        <button type="submit" name="command" value="relay3_on">Relay 3 Encender</button>
        <button type="submit" name="command" value="relay3_off">Relay 3 Apagar</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <h2>Historial de Acciones</h2>
    <table border="1">
        <tr>
            <th>Relay</th>
            <th>Accion</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
        {% for entry in action_history %}
            <tr>
                <td>{{ entry.relay }}</td>
                <td>{{ entry.accion }}</td>
                <td>{{ entry.fecha }}</td>
                <td>{{ entry.hora }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
